[mysqld]

# Be aware that this log type is a performance killer.
# Recommend only changing this at runtime for short testing periods if needed!
#general_log = 1
#general_log_file = /var/log/mysql/mysql.log

log_error = /var/log/mysql/mysql-error.log

slow_query_log = 1 # seconds
slow_query_log_file = /var/log/mysql/mysql-slow.log
